.App {
  text-align: center;
  background-color: #A1ACD9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.home{
  background-color: #A1ACD9;
  text-align: center;
  color: rgb(1, 1, 32);
}

.home-banner-img{
  width: 100%;
}

.get-started{
  height: 3.5em;
  width: 5em;
  border-radius: 20px;
  font-size: 32px;
  color: white;
  background-color: rgb(18, 18, 61);
}

.get-started:hover{
  color: white;
  font-size: 35px;
}

.app-description{
  margin-top: -2em;
  margin-bottom: 4em;
}


.logout-btn{
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: -4em;
  font-size: 17px;
}

.logout-btn:hover{
color: white;
background-color: rgb(61, 61, 109);
}

.top-bar{
  color: rgb(18, 18, 61);
  text-align: center;
  margin-bottom: 4em;
  /* padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  justify-content: space-evenly; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clock-holder{
  display: flex;
  justify-content: center;
}

.clock{
  /* background-color: seashell; */
  /* background-image: url('./clock-background.png'); */
  /* background-position: center; */
  /* height: 100%; */
  /* background-repeat: no-repeat; */
  /* background: linear-gradient(90deg, rgba(246,248,249,1) 0%, rgba(232,246,249,1) 35%, rgba(209,241,246,1) 100%); */
  
  background: radial-gradient(rgb(196, 235, 241),rgb(214, 244, 248),rgb(220, 236, 238)  );
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#accordion{
  margin-bottom: 5em;
}

.expanding-section{
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #d8e7d1;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-title{
  color:  rgb(18, 18, 61);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 1em;
}


.page-footer{
  text-align: center;
  background-color: rgb(18, 18, 61);
  color: white;
}


.footer-logo{
  height: 70px;
  margin-bottom: -1em;
}

.accounts{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 2em;
}

.tab-pane{
  border-radius: 10px;
  background-color: white;
  margin-left: 1px;
  padding: 1em;
}

.login-logo{
  padding-top: 3em;
  text-align: center;
}

.start-forms{
  margin-right: 15em;
  margin-left: 15em;
  
  display: flex;
  justify-content: space-evenly;
  padding-top: 3em;
  color: rgb(18, 18, 61);
  /* background-color: #bae4a6; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* border-radius: 20px; */

}

.login, .create-account{
  padding: 2em;
}


.vertical-line{
  margin-top: 1em;
  border-left: 2px dotted rgb(18, 18, 61);
  height: 400px;
}

.create-account-btn, .login-btn, .logout-btn, .cancel-btn{
  background-color: rgb(18, 18, 61);
  color: white;
}

.create-account-btn:hover, .login-btn:hover, .cancel-btn:hover{
  background-color: rgb(18, 18, 61);
  color: white;
}

.user-name{
  color: rgb(18, 18, 61);
  margin-bottom: 2em;
  text-align: center;
  text-decoration: underline overline
}



.modal-content{
  background-color: #D4D5DB;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 20px;
}

.modal-title{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  text-align: center;
  color: rgb(18, 18, 61);
}

.modal-backdrop {
  background-color: rgb(161, 172, 217);
}

.green-btn{
  background-color: rgb(126, 217, 87);
  
  
}

.new-account-input{
  background-color: #e4e5e6;
}
.new-account-input:focus{
  background-color: #e4e5e6;
}
.new-account-input:active{
  background-color: #e4e5e6;
}

a .bank-logo {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.account-tab-title{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: rgb(96, 96, 141); 
}
.account-tab-title:hover{
  color: rgb(18, 18, 61); 
}
.account-tab-title:active{
  color: rgb(18, 18, 61); 
}



.bank-logo{
  height: 100px;
  width: 100px;
}

.transactions-title{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.transactions-list{
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #D4D5DB;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 3em;
  padding-left: 3em;
  margin-right: 2em;
  margin-left: 2em;
  color:rgb(18, 18, 61);
}

.transaction-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.transaction-headers{
  font-weight: 800;
}

.account-details, .transactions-title{
  margin-left: 2em;
  margin-right: 2em;
}

.account-details{

  display: flex;
  justify-content: space-between;
}

.account-detail{
  line-height: 50px;
  display: inline-block;
}

.account-balance{ 
  font-size: 15px; 
  font-weight: 800;
  
  margin-top: 1em;
  margin-bottom: 3em;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 3px;
  background-color: rgb(18, 18, 61);
  color: #A1ACD9;
}




.account-name{
  font-size: 20px;
  font-weight: 700;
  color: rgb(18, 18, 61);
}

.budget-squares{
  display: flex;
  justify-content: space-around;
}

.category-list{
  color: rgb(18, 18, 61);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  background-color: #d4d5db;
  padding: 1em;
  border-radius: 10px;
}

.category-list h3{
text-align: center;
text-decoration: underline;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.category-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: .5em;
}

.category-amount{
  margin-left: 5em;
}

.edit-category-btn{
  background-color: white;
  padding-right: .3em;
  padding-left: .3em;
  padding-top: .1em;
  padding-bottom: .1em;
  border-radius: 5px;
  margin-right: .5em;
}

.edit-category-btn:hover{
  background-color: rgb(18, 18, 61);
  color: white;
}

.add-category-btn{
  font-size: 20px;
  font-weight: 600;
  margin-top: .5em;
  padding-top: 0;
  border: rgb(18, 18, 61) 2px solid;
}

.add-category-btn:hover{
  background-color: white;
  border: white 2px solid;
}


.doughnut-chart-box{
  height: 350px;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  margin-top: 1.5em;
  margin-right: 1em;
  margin-left: 1em;
  /* border: solid 2px rgb(18, 18, 61); */
}

.doughnut-chart-box h3{
  text-align: center;
  color: rgb(18, 18, 61);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bar-chart-box{
  padding-top: 1em; 
  height: 400px;
  width: 400px;
  background-color: #bae4a6;
  border-radius: 10px;
}

.bar-chart-box h3, h4{
  text-align: center;
  color: rgb(18, 18, 61);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.delete-btn{
  background-color: rgb(241, 116, 94);
}


.loading{
  margin-top: 25em;
  text-align: center;
  color: rgb(18, 18, 61);
}

.loading h1{
  color: rgb(18, 18, 61);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.spinner-grow{
  margin: .5em;
}

.calendar-budget-box{
  margin-top: 1.5em;
  margin-left: 10.7em;
  margin-right: 10.7em;
  border-radius: 10px;
  padding: 2em;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
}

.calendar-budget-box div h1, h2, h3, h4, h5{
  text-align: center;
  color: rgb(18, 18, 61);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.spiral{
  margin-top: 1em;
  width: 100%;
}

.chosen-date-box{
  padding-top: 2em;
  background-color: #D4D5DB;
  border-right: #c3c6d6 4px double;
  border-bottom: #c3c6d6 4px double;
  min-height: 300px;
  min-width: 360px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.date-transaction-row{
  color: rgb(18, 18, 61);
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: .5em;
  padding-right: .5em;
  padding-left: .5em;
  background-color: #dcf7ce;
  border-bottom: rgb(18, 18, 61) 2px solid;
  
}
.paper-clip{
  margin-right: .5em;
  transform: rotate(180deg);
}

.chosen-date-box h2{
  background-color: #92e06e;
  
}

.add-transaction-btn{
  text-align: center;
}
.add-transaction-btn button{
  border-radius: 10px;
  color: white;
  background-color: rgb(18, 18, 61);
}

.add-transaction-btn button:hover{
  border-radius: 10px;
  color: rgb(18, 18, 61);
  background-color: #c7dbbd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.transactions-for-account{
  height: 100px;
  width: 1175px;
  padding-right: 10px;
}


.cc-card{
  text-align: center;
  width: 375px;
  height: 400px;
  margin: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;
  background-color: #b9bccc;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bookmark{
  text-align: left;
  margin-top: -.1em;
}

.cc-cards-container{
  display: flex;
  justify-content: center;

}

.card-name{
  margin-bottom: 0;
}

.cc-image{
  margin-top: 1em;
  margin-bottom: 1em;
  width: 15em;
}

.card-description{
  margin-top: 1em;
  margin-bottom: 1em;
  width: 300px;
  height: 50px;
}

.bank-link{
  text-decoration: underline;
}

.annual-fee{
  color: rgb(23, 80, 26);
}

.apply-icon{
  margin-left: .5em;
}

.bi-arrow-right-circle-fill, .bi-arrow-left-circle-fill{
  color: rgb(18, 18, 61);
  width: 3.5em;
  height: 3.5em;

  margin-top: 12.5em;
  margin-left: 3em;
  margin-right: 3em;
}

.bi-star-fill{
  margin-top: -.3em;
  margin-left: .3em;
  color: goldenrod;
}

.no-cards{
  padding-top: 150px;
  padding-bottom: 150px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #b9bccc;
  border-radius: 10px;
}

.cc-display-options{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 17px;
}

.cc-display-options>*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 1em;
  margin-left: 1em;
}

.check-annualFee{
  margin-right: .5em;
}

.choose-account-type, .choose-credit-level{
  margin-left: .5em;
  background-color: #a9aeca;
  border-radius: 5px;
}

.cc-display-options .bi-bookmark-fill{
  margin-left: .5em;
}

.bi-bookmark-fill, .bi-bookmark{
  color: rgb(33, 114, 37);
}

.bookmarked-option{
  margin-top: 2em;
  text-align: center;
}

.bookmarked-btn{
  font-weight: 600;
  color: rgb(16, 73, 19);
  border: solid 2px rgb(33, 114, 37);
  background-color: rgb(191, 218, 177);

}

.bookmarked-btn:hover{
  color: rgb(16, 73, 19);
  background-color: rgb(191, 218, 177);
  box-shadow: 3px 4px 0px 0px #899599;
}

.bookmarked-btn:active{
  color: rgb(16, 73, 19);
  background-color: rgb(191, 218, 177);
  box-shadow: 1px 2px 0px 0px #899599;
}

.tools{
  display: flex;
  justify-content: center;
}

.tools>*{
margin-right: 3em;
margin-left: 3em;
margin-bottom: 3em;
}

div.calculator-display{
  background-color: rgb(18, 18, 61);
}

button.calculator-key.key-multiply, button.calculator-key.key-divide, button.calculator-key.key-subtract, button.calculator-key.key-add, button.calculator-key.key-equals{
  background-color: #A1ACD9;
}

.calculator{
  margin-bottom: 2em;
  margin-top: 2em;
}

.notebook{
  width: 500px;
}

.notebook-title{
  color: rgb(212, 238, 197);
  margin: 0;
  background-color: rgb(33, 114, 37);
}
.notebook-text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 1em;
  background-color: rgb(250, 245, 235);
  border-right: rgb(218, 212, 157) 4px double;
  border-bottom: rgb(218, 212, 157) 4px double;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 

}

.notebook-notes{
  width: 480px;
  height: 300px;
}

.calculator-background{
  margin-top: 1em;
  padding: 1em;
  background-color: #7b89c0;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.bookmarked-cards-gallery{
  margin-top: 4em;
  margin-bottom: 4em;
  margin-right: 10em;
  margin-left: 10em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bookmarked-cards-gallery-img{
  margin-top: 2em;
  margin-left: -2em;
  width: 150px;
  transform: rotate(-5deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.bookmarked-cards-gallery-img:hover{
  margin-top: 0;
}


.new-note-form{
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.note-text-input{
  width: 275px;
}

.save-note-btn{
  color: rgb(212, 238, 197);
  background-color:rgb(33, 114, 37);
}

.save-note-btn:hover{
  background-color: rgb(212, 238, 197);
  color: rgb(33, 114, 37);
  border: solid 1px rgb(33, 114, 37);
}

.note-input-label{
  color: rgb(21, 75, 23);
  font-weight: 600;
}

.note-input-label small{
  color: rgb(21, 75, 23);
  font-weight: 800;
  margin-right: .3em;

}

.new-note-form-colors{
  display: flex;
  justify-content: space-between;
}