.App {
  text-align: center;
  background-color: #A1ACD9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.home{
  background-color: #A1ACD9;
  text-align: center;
  color: rgb(1, 1, 32);
}

.home-banner-img{
  width: 100%;
}

.get-started{
  height: 3.5em;
  width: 5em;
  border-radius: 20px;
  font-size: 32px;
  color: white;
  background-color: rgb(18, 18, 61);
}

.get-started:hover{
  color: white;
  font-size: 35px;
}

.logout-btn{
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: -4em;
  font-size: 17px;
}

.logout-btn:hover{
color: white;
background-color: rgb(61, 61, 109);
}

.top-bar{
  text-align: center;
  margin-bottom: 4em;
  /* padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  justify-content: space-evenly; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clock-holder{
  display: flex;
  justify-content: center;
}

.clock{
  /* background-color: seashell; */
  /* background-image: url('./clock-background.png'); */
  /* background-position: center; */
  /* height: 100%; */
  /* background-repeat: no-repeat; */
  background: radial-gradient(rgb(196, 235, 241),rgb(214, 244, 248),rgb(220, 236, 238)  );
  /* background: linear-gradient(90deg, rgba(246,248,249,1) 0%, rgba(232,246,249,1) 35%, rgba(209,241,246,1) 100%); */
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#accordion{
  margin-bottom: 5em;
}

.expanding-section{
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #d8e7d1;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-title{
  color:  rgb(18, 18, 61);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 1em;
}


.page-footer{
  text-align: center;
  background-color: rgb(18, 18, 61);
  color: white;
}

.piggy{
  width: 100%;
}

.footer-logo{
  height: 70px;
  margin-bottom: -1em;
}

.accounts{
  margin-top: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tab-pane{
  background-color: white;
  margin-left: 1px;
  padding: 1em;
}

.login-logo{
  padding-top: 3em;
  text-align: center;
}

.start-forms{
  margin-right: 15em;
  margin-left: 15em;
  
  display: flex;
  justify-content: space-evenly;
  padding-top: 3em;
  color: rgb(18, 18, 61);
  /* background-color: #bae4a6; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* border-radius: 20px; */

}

.login, .create-account{
  padding: 2em;
}


.vertical-line{
  margin-top: 1em;
  border-left: 2px dotted rgb(18, 18, 61);
  height: 400px;
}

.create-account-btn, .login-btn, .logout-btn, .cancel-btn{
  background-color: rgb(18, 18, 61);
  color: white;
}

.create-account-btn:hover, .login-btn:hover, .cancel-btn:hover{
  background-color: rgb(18, 18, 61);
  color: white;
}

.user-name{
margin-left: 3em;
}



.modal-content{
  background-color: #ced1db;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 20px;
}

.modal-title{
  font-size: 20px;
  text-align: center;
}

.modal-backdrop {
  background-color: #A1ACD9;
}

.green-btn{
  background-color: #7ED957;
}

.new-account-input{
  background-color: #e4e5e6;
}
.new-account-input:focus{
  background-color: #e4e5e6;
}
.new-account-input:active{
  background-color: #e4e5e6;
}